@media (max-width: 1199px) {
    .header {
        min-height: 100%;
    }

    .header__content {
        margin-top: auto;
    }

    .info__inner {
        padding: 89px 90px 77px 90px;
    }

    .info__title {
        margin-right: 0;
        margin-left: 0;
    }

    .slider__img {
        margin-right: auto;
        margin-left: auto;
    }

    .slider__title {
        margin: 0 100px 60px;
    }

    .help__items {
        justify-content: space-around;
    }

    .help__title {
        margin: 0 100px 66px;
    }

    .help__item {
        & + .help__item {
            margin-left: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .donation__inner {
        padding-right: 29px;
    }

    .footer__inner {
        justify-content: space-around;
        padding-right: 225px;
        padding-left: 50px;
    }

    .footer__contact {
        margin-right: 50px;
    }
}    

@media (max-width: 991px) {
    .info__title,
    .help__title,
    .footer__title {
        font-size: 34px;
    }

    .donation__inner {
        display: block;
        text-align: center;
    }

    .donation__card {
        margin: 0 auto;
    }

    .footer__inner {
        padding-right: 50px;
    }

    .footer__link {
        font-size: 19px;
    }

    .footer__address-link {
        width: 290px;
    }
}

@media (max-width: 900px) { 
    .info__inner {
        padding: 70px 50px 50px 50px;
    }
    .slider__item {
        max-width: none;
    }

      .slick-next,
      .slick-prew {
        margin-left: 30px;
        margin-right: 30px;
      }

    .pet {
        padding: 40px;
    }

    .pet__img {
        margin-right: 40px;
    }
}

@media (max-width: 830px) {
    .header__content {
        max-width: 400px;
        min-height: auto;        
    }
    .header__title {
        line-height: 1.2;
        font-size: 37px;
        letter-spacing: 2px;
    }

    .header__link {
        padding-bottom: 50px;
    }

    .info__inner {
        position: relative;
    }
    .info__img {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .info__img-pets {
        width: 85px;
    }

    .info__text {
        font-size: 16px;
        line-height: 1.6;
    }
}

@media (min-width: 731px) and (max-width: 823px) {
    .header__top {
        padding-top: 20px;
    }
    .header__title {
        margin: 10px 0;
    }
    .header__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .header__menu-btn,
    .footer__inner {
        display: block;
    }
    .header__menu .menu {
        display: none;
        position: absolute;
        z-index: 2;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $dark-brown;
        border: 2px solid $beige;
    }

    .header__menu .menu__new-item {
        background-color: $white;
        border: 2px solid $dark-brown;
    }

    .header__text {
        padding-right: 150px;
    }

    .help__title {
        margin: 0 0 30px;
    }

    .menu__link {
        display: block;
        padding: 13px;
    }

    .header__menu .menu__item {
        display: block;
        text-align: center;
        margin: 0;
        padding-bottom: 5px;
    }

    .pet {
        padding: 20px;
    }

    .pet__img {
        display: none;
    }

    .help__img {
        width: 30px;
        height: 30px;
    }

    .help__item {
        & + .help__item {
            margin-left: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .help__text {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .donation__inner {
        padding: 15px;
    }

    .footer__contact {
        max-width: none;
    }

    .footer__title {
        margin-top: 30px;
    }

    .footer__link {
        margin-right: 30px;
    }

    .footer__address-link {
        width: auto;
        padding-right: 0;
        line-height: 1.7;
    }

    .footer__link--address {
        background-position: 0, center;
    }
}

@media (min-width: 568px) and (max-width: 667px) {
    .footer__inner {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .footer__contact {
        margin: 0;
        & + & {
            margin-left: 40px;
        }
    }
    .footer__title {
        margin-top: 10px;
        font-size: 29px;
    }

    .footer__address-link {
        line-height: 1.2;
    }
}

@media (max-width: 667px) {
    .header__content {
        max-width: 330px;
        margin-top: 15%;
    }

    .header__title,
    .info__title,
    .help__title,
    .donation__title,
    .slider__title {
        font-size: 29px;
    }

    .header__title {
        padding-right: 0;
    }

    .info__title {
        margin-left: 70px;
    }

    .header {
        background-image: none;
        background-color: $header-bg;
    }

    header.header__pets {        
        background-color: $white;
      }

    .header__content {
        max-width: none;
        margin-top: 0;
        text-align: center;
    }

    .header__text {
        margin-bottom: 20px;
        padding-right: 0;
    }

    .menu__link {
        padding: 8px;
    }

    .help__inner {
        padding: 10px;
    }
}

@media (max-width: 567px) {
    .header__link {
        padding-bottom: 50px;
    }
    .slider {
        display: none;
    }

    .slider.pets {
        display: block;
    }   

    .slider__title {
        margin: 0 50px;
    }

    .footer__inner {
        text-align: center;
    }

    .footer__contact {
        margin: 0 20px;
    }
}

@media (max-width: 430px) {
    .info__inner {
        padding: 20px;
    }

    .info__img {
        display: none;
    }

    .info__title {
        margin-bottom: 10px;
        margin: 0;
    }

    .help__items {
        display: block;
    }

    .help__text {
        margin: 0;
    }

    .donation__card {
        padding-left: 0;
        font-size: 16px;
    }

    .donation__card--icon {
        background-image: none;
        background-position: 10px, center;
    }

    .footer__contact {
        margin: 0;
    }
    .footer__title,
    .donation__title {
        margin-top: 0;
        font-size: 25px;
    }

    .footer__link {
        margin-right: 0;
        padding-left: 50px;
        font-size: 18px;
        letter-spacing: 0;
    }

    .footer__inner {
        padding: 15px 25px;
    }

    .footer__address-link {
        width: 89%;
        background-position: 10px, center;
    }
}

@media (max-width: 320px) {
    .footer__address-link {
        width: 100%;
    }
}
