@import "_vars";
@import "_global";

//start index

.header {
  min-height: 925px;     
  background-image: url(../images/intro_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  
}

.header__menu-btn {
  display: none;
  width: 45px;
  border: none;  
  padding-top: 4px;
  &--beige {
    background-color: $beige;
  }
  &--white {
    background-color: $white;
  }
}

.header__menu-line {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  height: 5px;
  background-color: $dark-brown;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  margin-left: 14px;
}

.menu__link {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.9;
  text-decoration: none;
  transition: color 0.5s;
  &--white {
    color: $white;
  }
  &--brown {
    color: $brown;
  }
  &--yellow {
    color: $yellow;
  }
}

.menu__link--white:hover,
.menu__link--white:focus {
  color: $yellow;
}

.menu__link::after {
  position: absolute;
  bottom: 1px;
  left: 50%;
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background-color: $beige;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.menu__link--active::after,
.menu__link:hover:after,
.menu__link:focus:after {
  width: 90%;
}

.header__content {
  max-width: 410px;
  min-height: 310px;
  margin-top: 230px;
  margin-left: 1px;    
}

.header__title {
  margin-bottom: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 2.9px;
  color: $white;
}

.header__text {
  margin-bottom: 62px;
  padding-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $gray;
}

.header__link {
  padding-bottom: 100px;
}

.btn {
  border-radius: 27px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
  &--yellow {
    background-color: $yellow;
    transition: background-color 0.5s;
  }
  &--white {
    background-color: $white;
    border: 2px solid $beige;
    transition: background-color 0.5s;
  }
  &--beige {
    background-color: $beige;
  }
  &--big {
    padding-right: 22px;
    padding-left: 29px;
  }
  &--m {
    padding-right: 38px;
    padding-left: 34px;
  }
  &--sm {
    padding-right: 52px;
    padding-left: 42px;
  }
}

.header__btn {
  font-size: 17px;
  line-height: 3;
  letter-spacing: 1px;
  color: $dark-brown;
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: $green;
}
.btn--white:hover,
.btn--white:focus {
  background-color: $beige;
}

.info,
.help {
  background-color: #fafafa;
}

.info__inner {
  padding: 89px 150px 77px 169px;
  display: flex;
  justify-content: space-between;
}

.info__img {
  margin-right: 120px;
  width: 100%;
}

.info__title {
  margin: -10px 91px 40px 10px;
  text-align: center;
  letter-spacing: 2.3px;
}

.info__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

.slider,
.donation {
  background-color: #f6f6f6;
}

.slider__inner {
  padding: 70px 0;
}

.slider__title {
  margin: 0 370px 64px;
}

.slider__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}

.slider__item {
  max-width: 270px;
  text-align: center;
  background-color: #fafafa;  
}

.slider__item:hover {
  box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.slider__item-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 2.3;
  letter-spacing: 1.5px;
}

.slider__item-btn {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 2.9;
  letter-spacing: 0.9px;
  color: $dark-brown;
  &:focus {
    outline: none;
    outline-offset: 0;
  }
}

.slick-arrow {
  width: 50px;
  height: 50px;
  padding-right: 15px;
  padding-bottom: 6px;
  padding-left: 17px;
  font-size: 0;
  background-color: transparent;
  border: 2px solid $beige;
  border-radius: 50%;
  cursor: pointer;
}

.slick-prew {
  margin-right: 81px;
}

.slick-next {
  margin-left: 30px;
}

.slick-next:focus,
.slick-prew:focus {
  outline-width: 0;
  background-color: $beige;
}

.slider__link {
  margin-left: 10px;
  text-align: center;
}

.slider__link-btn {
  font-size: 17px;
  line-height: 3;
  letter-spacing: 1px;
  color: $dark-brown;
  transition: font-size 0.5s;
}

.slider__link-btn:hover {
  font-size: 20px;
}

.help__inner {
  padding: 63px 63px 0 99px;
}

.help__title {
  margin: 0 270px 66px 235px;
}

.help__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.help__item {
  text-align: center;
  & + .help__item {
    margin-left: 75px;
  }
  &:last-child {
    margin-right: 70px;
  }
}

.help__text {
  margin-top: 15px;
  margin-bottom: 75px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.1px;
}

.donation__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 87px 150px 87px 19px;  
}

.donation__img {
  margin-right: 58px;
  width: 100%;
}

.donation__title {
  margin-top: 0;
  margin-bottom: 35px;   
}

.donation__bank {
  padding-left: 5px;
  font-size: 15px;
  letter-spacing: 1.1px;  
}

.donation__card {
  max-width: 319px;  
  padding-left: 65px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 2.3;
  letter-spacing: 1.2px;
  color: $dark-brown; 
  background-color: $beige;
  border-radius: 10px;  
}

.donation__card::before {
  content: "";  
  top: 0;
  left: 0;
  width: 30px;
  height: 24px;
}

.donation__card--icon {
  background-image: url(../images/credit-card.png);
  background-repeat: no-repeat;
  background-position: 24px, center;
}

.footer {
  min-height: 363px;
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 25px 275px 20px 0;
}

.footer__contact {
  max-width: 305px;
  margin-right: 140px;  
}

.footer__title {
  margin: 45px 0 22px 3px ;  
  letter-spacing: 1.5px;
  color: $white;  
}

.footer__link {
  margin-bottom: 15px;
  padding-left: 65px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 2.3;
  letter-spacing: 1.2px;  
  color: $beige;
  text-decoration: none;  
} 

.footer__link::before {
  content: "";  
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
}

.footer__link--email {
  background-image: url(../images/envelope.png);
  background-repeat: no-repeat;
  background-position: 0, center;
}

.footer__link--tel {
  background-image: url(../images/telephone.png);
  background-repeat: no-repeat;
  background-position: 0, center;
}

.footer__link--address {
  background-image: url(../images/pin.png);
  background-repeat: no-repeat;
  background-position: 3px 8px;
}

.footer__address-link {
  padding: 4px 60px 0 50px;
  line-height: 1.2;  
}

//end index

//start new-items

.header__pets {
  min-height: 117px;
  background-image: none;  
}

.slider__items.pets__items {
  justify-content: space-around;
}

.pets__items {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.pets__item {
  min-width: 270px;
  margin-bottom: 30px;
}

.pagination__page {
  display: inline-block;
  & + .pagination__page {
    margin-left: 17px;
  }  
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 2.8;
  text-decoration: none;
  color: $dark-brown;  
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid $beige;     
  &.active {
    background-color: $beige;
  }
}

// start pop-up 

.modal {
  max-width: 970px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);   
  border-radius: 9px;
}

.pet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px 60px 100px;
}

.pet__img {
 margin-right: 125px; 
}

.pet__name {
 margin: 0;
 line-height: 1;
}

.pet__breed {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
}

.pet__desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-align: justify;
}

.pet__item {
  margin-left: 13px;
  font-size: 17px;
  line-height: 2;
  list-style: disc;  
}

.pet__item-style {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2.3;
}

//end pop-up

//start scroll up

.scrollup {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  width: 50px;
  height: 50px;
  color: $beige;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px $beige;
  opacity: 0;
  transition: .2s;
  transform: translateY(25px);
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    content: "↑";
  }
  &:hover {
    color: $green;
    box-shadow: inset 0 0 0 4px $green;
  }  
  &__active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }  
}

//end scroll up

@import "_media";

